@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("../assets/colors.css");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.chat-container {
  height: 83vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  background-color: var(--light-background);
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.chat-header {
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: solid 1px var(--border-color);
}
.chat-header h1 {
  font-size: 23px;
  font-weight: 600;
  color: var(--big-title-color);
}
.chat-header h2 {
  font-size: large;
  font-weight: 500;
  color: var(--small-title-color);
}

.chat-middle-part {
  overflow-y: auto;
  padding: 30px;
  height: 100%;
}
.chat-middle-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.chat-middle-intro h1 {
  gap: 30px;
  font-size: large;
  color: var(--small-title-color);
  font-weight: 400;
}
.chat-middle-part .chatbot {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
}
.chat-middle-part .chatbot ul {
  width: 100%;
  gap: 20px;
  list-style: none;
}
.chat-middle-part .chatbot li {
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  color: var(--big-title-color);
  background-image: linear-gradient(to right, rgba(234, 234, 234, 0.183) , rgba(255, 255, 255, 0));
  border: none;
  
  

}
.chat-middle-part .chatbot li p {
  padding-left: 40px;
  
  

}
.chat-middle-part-role{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap:10px;
  margin-bottom: 10px;

}
.chat-middle-part .chatbot li h1 {
  font-size: small;
  text-transform: uppercase;
  color: var(--info-font-color);
}
.chat-middle-part .chatbot li p {
  font-size: large;
  color: var(--small-title-color);
}
.chat-middle-part .chatbot li img {
  display: flex;
  width: 20px;
}


.chat-middle-part img {
  opacity: 60%;
  width: 50px;
}
.chat-middle-part h2 {
  font-size: large;
  font-weight: 600;
  width: 120px;
}

.chat-input {
  justify-content: right;
  align-items: center;
  display: flex;
  
}
.chat-input input {
  position: relative;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: var(--border-color);
  color: var(--info-font-color);
  padding-left: 40px;
  padding-right: 60px;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.07) 0px -30px 10px -10px
 
}

.chat-input img {
  padding: 10px;

  display: flex;

  position: absolute;
  width: 20px;
  opacity: 50%;
  transform: rotate(180deg);
}

.chat-input:hover img {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 1px;
  -webkit-box-shadow: inset 0 0 6px var(--border-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--info-font-color);
  -webkit-box-shadow: inset 0 0 6px var(--info-font-color);
}
