:root {
  --primary-color: #724aec;
  --secondary-color: #ecccfd;
  --accent-color: #c58ef8;
  --shadow-color: #9e6ef2;
  --big-title-color: #000000;
  --small-title-color: #545454;
  --info-font-color: #a6a6a6;
  --border-color: rgba(220, 218, 218, 0.242);
  --app-background: #f7fbff;
  --light-background: #ffffff;
}
